# Ignore all files by default
*

# Do not ignore directories, so we can re-include specific files
!*/

# Include .cpp and .md files
!*.cpp
!*.md
!*.png

# Do not ignore the .gitignore file itself
!.gitignore
